

<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="savePassword(savePasswordForm)" *ngIf="!isLoading" #savePasswordForm="ngForm"  >
  
    <h2 style="color: blue;text-underline-position: initial;">Create New Password:</h2>
      <mat-form-field  ><br>
        <input class="inputFiled" placeholder="Enter new Password:" name="password" ngModel matInput type="password" #passwordInput="ngModel"  required   />
        <mat-error style="color: blueviolet" *ngIf="passwordInput.invalid">Please Enter a valid password</mat-error>
      </mat-form-field><br>

      <mat-form-field  ><br>
        <input class="inputFiled" placeholder="Confirm new Password:" name="confirmPassword" ngModel matInput type="password" #confirmPasswordInput="ngModel"  required   />
        <mat-error style="color: blueviolet" *ngIf="confirmPasswordInput.invalid">Please Enter a valid password</mat-error>
      </mat-form-field><br>
 
     
  
    <button mat-raised-button
            color="primary"
            type="submit" *ngIf="!isLoading" >Save Changes</button>
  
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            
            <!-- <div *ngIf="check()" class="alert alert-danger">
              <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
            </div> -->

           
           
  </form>
  
  </mat-card>
  
 