<form [formGroup]="form"   >



    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
    
                
                <div style="border: solid 1px #ced4da;margin-top:50px;width: 95%;margin-left: 15px;border-radius: 5px;height: 330px;">
                   <h1 style="color: #455570;text-decoration: underline;">Billing Address:</h1>
                  <h3>First Name :{{firstName}}   <a href="/address"><i style="float: right;color: black;margin-top: -50px;" class="fas fa-edit fa-2x"></i></a></h3>
                    <h3>Last Name:{{lastName}}<i style="float: right;margin-right: 8px;margin-top: -50px;" class="fas fa-calendar-times fa-2x"></i>

                    </h3>
                    <h3>City:{{city}}</h3>
                    <h3>country:{{country}}</h3>
                    <h3>Address:{{fullAddress}}</h3>
                    <h3>phone Number:{{phoneNumber}} </h3>
                   
                   


                  </div>
              
             
    
    
    
    
            </div>
            <div  class="col-6">
                <div style="margin-top: 50px;" class="row">
                    <div  style="border: solid 1px black;height: 50px;background-color: #f3f3f3;" class="col-1">
                        <a  href="/cart"><i style="color: black;margin-top: 7px;"  class="fas fa-shopping-cart fa-2x" ></i></a>
                    </div>
                    <div  style="border: solid 1px black;height: 50px;background-color: #f3f3f3;" class="col-3"><h1 class="itemMenu" style="margin-top: 7px;"> <a  style="color: black;text-decoration: none;" href="/address">User Details</a></h1></div>
                    <div style="border: solid 1px black;height: 50px;background-color: #455570;color: white;"class="col-3"><h1 class="itemMenu" style="margin-top: 7px;">Payment</h1></div>
                    <div style="border: solid 1px black;height: 50px;background-color: #f3f3f3;" class="col-5"><h1 class="itemMenu" style="margin-top: 7px;">Confirmation</h1></div>
                     <br>
                     <h1 style="margin-top: 10px;">Payment Details:</h1>
                </div>
                <div  class="row">
                    <div class="col-8" style="height: 600px;width: 100%;;border: 1px solid #ced4da;background-color: #ebf3fd;">
                        

                        <div *ngIf="!paidFor">
                            <h2>Cart Details:</h2>
                            <div class="row">
                                <div class="col-6"> <h2>Item Name:</h2></div>
                                <div class="col-3">  <h2 style="margin-left: -20px;">Price:</h2></div>
                                <div class="col-3">   <h2 style="margin-left: -20px;">Amount:</h2></div>
                            </div>
                            <div   class="row" *ngFor="let item of arrName; let i = index" [attr.data-index]="i">
                              
                                <div  class="col-6" >
                                   
                                    <h3 > {{(i+1)}}. {{item.name}}</h3></div>
                                <div class="col-3" >
                                  
                                    <h3 >{{item.price}}$</h3></div>
                                <div class="col-3" > 
                                    <h3 >X{{item.amount.number}}</h3></div>
                            </div>
                        
                         <!-- <h3 style="position: absolute;top: 0;right: 200px;" *ngFor="let price of prices">{{price}}</h3> -->
                         <!-- <h3 *ngFor="let amount of amount">{{amount.number}}</h3> -->


                        </div>

                        <div *ngIf="paidFor">
                        
                        <h1>Payment Complete</h1>

                        </div>


                   
                        <div style="margin-top: 20px;" #paypal></div>
    
    
                    <button (click)="confirmation()">confirmationTest</button>
    
                   
                        
                    
                     
                      
                 
                    
                  
    
                 
                 
    
               
              
    
                    
                    </div>
                    <div class="col-4">
                       <div style="background-color: #e5e9ec;height: 300px;width: 100%;border: solid 1px #ced4da">
                        <h2 style="color:black;background-color: orange;text-align: center;">Order Summery</h2>
                        <div style="height: 200px; width: 90%;background-color: white;margin-left: 11px;margin-bottom: 20px;" >
                        <h3>PRICE : {{price}}$</h3>
                        <h3>VAT:{{vat}}$</h3>
                        <div style="border-top: 1px solid black;"></div>
                        <h1>TOTAL PRICE: {{totalPrice}}$</h1>
                        </div>
    
                        <div style="background-color: #ffa33b;color: black;border: black 1px solid;margin-left: 25px;height: 30px;margin-top: -10px;width: 75%;"> 
                          <a href="/payment" (click)=savePayment() >
                            <h3 style="color: black;text-align: center;">Continue To Payment<i class="fas fa-caret-right"></i></h3>
                         
                
                
                             </a>
                        </div>
                      
    
                    </div>
    
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
    
        </div>
    </div>
    
    </form>
