
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="resetPass(resetPassForm)" *ngIf="!isLoading" #resetPassForm="ngForm"  >
  
    <h2 style="color: blue;text-underline-position: initial;">Forgot Password:</h2>
      <mat-form-field  ><br>
        <input class="inputFiled" placeholder="Enter email:" name="email" ngModel matInput type="email" #emailInput="ngModel"  required email  />
        <mat-error style="color: blueviolet" *ngIf="emailInput.invalid">Please Enter a valid email</mat-error>
      </mat-form-field><br>
 
     
  
    <button mat-raised-button
            color="primary"
            type="submit" *ngIf="!isLoading" >Reset</button>
  
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            
            <!-- <div *ngIf="check()" class="alert alert-danger">
              <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
            </div> -->

           
           
  </form>
  
  </mat-card>
  
 