
<div style="margin-top: 50px;background-color: black;height: 50px;color: white;" >
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top:15px ;text-align: center;font-size: xx-large;">Categories:</h1></div>
<div class="container" style="border: 1px solid #dfdfdf;margin-top: 50px;" >

    <div style="height: 75px;" >
    <mat-label style="margin-left: 30px;display: inline;margin-top: 20px;"><h1 style="display: inline;">Add Category:</h1></mat-label>
    <input [(ngModel)]="categoryName"  style="width: 35%;margin-left: 20px;border: none;border-bottom: 1px solid #dfdfdf;" matInput 
           placeholder="Enter Category Name:">
  
       

        <input name="imgPath" [(ngModel)]="imgPath"  style="width: 35%;margin-left: 20px;border: none;border-bottom: 1px solid #dfdfdf;display: inline;" matInput 
           placeholder="Enter Image Path:">
           
           <a (click)="addCategory(categoryName,imgPath)"> <i  style="float: right;color: purple;margin-top: 10px;" class="far fa-plus-square fa-2x"></i></a>
           

        </div>
</div>


<div style="margin-top: 50px;height: 50px;color: black;" >
<div class="container" style="border: 1px solid #dfdfdf;" *ngFor="let item of categoriesArr;let i = index">
    <img  style="width: 80px;height: 80px;border-radius: 50%;" src="{{item.imgPath}}">
   <a (click)="deleteCategory(item.name)"> <i style="float: right;color: purple;margin-top: 10px;" class="far fa-trash-alt fa-2x"></i></a>


    <h1 style="display: inline;margin-left: 40px;">{{item.name}}</h1>
  

    <div style="margin-top: 20px;">

    </div>
    
</div>

